POSTGRES_HOST=db
POSTGRES_DB=simul
POSTGRES_PORT=5432
POSTGRES_USER=simul_user
POSTGRES_PASSWORD=postgres


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

ACCESS_SECRET_KEY=access_example_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_DAYS=30

SMTP_HOST=str
SMTP_PORT=int
SMTP_USER=str
SMTP_PASS=str
